.item-list{
    list-style-type: none;
    padding: 0;
    margin:20px 0;
}

.item-list strong{
    font-weight: bold;
    color: #3900d6;
    font-size: 24px;
    margin-top: 20px;
}

.item-list p{
    color: #999;
    font-size: 20px;
    margin-top: 10px;
}

.item-list hr{
    width: 100%;
    border: 1px solid #999;
    margin: 10px 0;
}