h1{
    color: #fff;
    font-size: 24px;
    font-family: 'Inter', sans-serif,Arial;
    padding-left: 50px;
}

header{
    width: 100%;
    height: 60px;
    background-color: #2d2d2d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    color: #fff;
    gap: 20px;
    padding-right: 50px;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Inter', sans-serif,Arial;
}

nav a:hover{
    color: #b587ff;
}