*{
    margin:0px;
    padding: 0px;
}

body {
    width: 100%;
    background-color: #1f1f1f;
}

hr{
    background-color: #fff;
    border: 1px solid #fff;
}


.content{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
}

.background{
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
}

.layer{
    width: calc(60% + 120px);
    min-height: 100vh;
    height: 100%;
    background-color: rgba(16,16,16,0.8);
    position: absolute;
    right: 0;
    z-index: 1;
}

.info{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 90px;
    margin-top: 40px;
    z-index: 1;
}

input{
    border:1px solid #999999;
    border-radius: 22px;
    background: transparent;
    font-size: 10px;  
    width: 80%;
    min-width: 250px; 
    padding:10px; 
    margin-right: 12px;
    font-family: 'Inter', sans-serif,Arial;
    color: #999;
}

button{
    border:1px solid #999999;
    border-radius: 22px;
    background: transparent;
    font-size: 10px; 
    color: white; 
    width: auto;
    padding:10px 20px; 
    margin-right: 12px;
    display: inline-block;
    cursor: pointer;
}

.profile{
    width: 60%;
    display: flex;
    margin: 20px 90px;
    justify-content: flex-start;
    align-items: center;  
    z-index: 1;
}

.profilePhoto{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px 0px;
    border: 2px solid #fff;
}

.profile h3{
    color: #fff;
    font-family: 'Inter', sans-serif,Arial;
    margin-left: 20px;
}

.profile span{
    color: #999;
    font-family: 'Inter', sans-serif,Arial;
    font-size: 10px;
    margin-left: 20px;
    display: block;
}

.profile p{
    color: #bbb;
    font-family: 'Inter', sans-serif,Arial;
    font-size: 12px;
    margin-left: 20px;
}

hr{
    width: 60%;
    border: 1px solid #999;
    margin: 20px 90px;
    z-index: 1;
}

.repositories h4{
    color: #fff;
    font-family: 'Inter', sans-serif,Arial;
    z-index: 1;
    font-size: 36px;
}
.repositories{
    width: 60%;
    margin: 0px 90px;
    z-index: 1;
}